
body{
    background: linear-gradient(90deg,rgb(199, 119, 233), rgb(119, 226, 245),rgb(245, 184, 119));
}
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Racing Sans One', cursive;
    margin-top: 80px;
}

.board{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 550px;
height: 470px;
margin: auto;
margin-top: 50px;
background: #0926c6af;
border: 1px solid rgba(0, 0, 0, 0.55);
border-radius: 10px;
}



.column {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}



.button-center{
    text-align: center;
    position: relative;
    top: 50px;

}

.restart{
    font-size: 35px;
    font-family:'Racing Sans One', cursive;
    border-radius: 10px;
    background-color: rgba(10, 209, 116, 0.2);
    
}

.column:hover {
    /* background: linear-gradient(50deg,rgba(197, 8, 235, 0.39), rgba(70, 248, 16, 0.39)); */
    background: rgba(90, 107, 236, 0.413);
    cursor: pointer;
} 

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: black;
    color: rgb(245, 129, 41);
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 70%;
    height: 17%;
    font-size: 40px;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
    border: 2px solid rgb(158, 105, 82)
  }
  
  /* The Close Button */
  .close {
    color: rgb(179, 97, 34);
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Racing Sans One', cursive;
    
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


/* CSS GRID */
/* .board{
    background: black;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
    grid-template-areas:
    "header header header header header"
    "main main main main main";
    column-gap: 5px;
    justify-content: space-around;
    justify-items: center;
    width: 500px;
    height: 450px;  
    grid-auto-flow: column;

}    

.drop {
    grid-area: header;
    background: blue;
    height: 70px;
    width: 70px;
    grid-column: 1;
    grid-row: 1 / 5;
}

.column {
    background: chartreuse;
    height: 170px;
    width: 70px;
    grid-area: main;

} */


/* Create a dropcell */
/* .dropall {
    text-align: center;
}

.drop {
    display: inline-block;
    margin-top: 120px;
    margin-left: 2px;
    margin-right: 2px;
    height: 30px;
    width: 90px;
    background: white;
    border: 1px solid black;
} */