html{
    /* background: linear-gradient(50deg,rgb(199, 119, 233), rgb(119, 226, 245),rgb(245, 184, 119)); */
    min-height: 100%;
    height: auto;
    background-image: url("images/cnnect4.png");
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    
}
h1 {
    text-align: center;
    font-size: 70px;
    font-family: 'Racing Sans One', cursive;
    margin-top: 0 auto;
    margin-bottom: 10px;
}

.C4header{
    background-image: url("images/C4header.png");
    background-repeat: no-repeat;
    justify-content: center;
    height: 76px;
    width: 640px;
    margin: 30px auto;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-family: 'Racing Sans One', cursive;
    width: 550px;
    margin: 30px auto 10px;
    color: rgb(225, 72, 125);
    background-color: rgb(0, 0, 0, 0.8)
}


.player1 {
    color: rgb(225, 72, 125);
}

.player2 {
    color: rgb(148, 245, 119);
}



.board{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 550px;
height: 470px;
margin: 0 auto;
margin-top: 10px;
background: #2c3980ec;
border: 1px solid rgba(37, 180, 216, 0.55);
border-radius: 10px;
}

.board6x7{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    height: 470px;
    margin: auto;
    margin-top: 10px;
    background: #0926c6af;
    border: 1px solid rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    }


.cellprop {
    /* background: hsla(220, 52%, 31%, 0.139); */
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 2px 5px;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 0px 4px #3453979e;
  }


.column {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 460px;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
}

.column6x7{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 90px;
    padding: 5px;
    border-radius: 10px;
}

.player1cell{
    background-image: linear-gradient(50deg,rgb(196, 86, 17), rgb(214, 119, 233));
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 2px 5px;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 0px 4px #144abeb6;
}

.player2cell{
    background-image: linear-gradient(50deg,rgb(11, 105, 99), rgb(235, 245, 119));
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 2px 5px;
    justify-content: center;
    align-items: center;
    box-shadow:inset 0px 0px 0px 4px #144abeb6;
}

.button-center{
    text-align: center;
    position: relative;
    top: 10px;

}

.restart{
    font-size: 25px;
    font-family:'Racing Sans One', cursive;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color:white;
    padding: 5px 10px;
   
}
.restart:hover{
    cursor: pointer;
    background-color: rgba(202, 220, 210, 0.516);
    color: black;
}

.column:hover {
    /* background: linear-gradient(50deg,rgba(197, 8, 235, 0.2), rgba(248, 70, 16, 0.2)); */
    background: rgba(11, 15, 46, 0.413);
    cursor: pointer;
} 

.firstpage{
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    color: #ffffff;
    font-size: 20px;
  }

  .fp-h2{
    color: rgb(245, 129, 41);
    font-size: 35px;
    width: 70%;
  }
  
  .fp-close {
      float:right;
  }
  /* Modal Body */
  .modal-body {
      padding: 2px 16px;
    color: rgb(245, 129, 41);
    font-size: 25px;
    margin-top: 10px;
}

.fp-content {
    background-color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 50%;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
    border: 2px solid rgb(245, 129, 41)
  }

.letsgo{
    font-size: 20px;
    font-family:'Racing Sans One', cursive;
    border-radius: 10px;
    background-color: rgb(245, 203, 111);
    color:rgb(0, 0, 0);
    padding: 5px 10px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: black;
    color: rgb(245, 129, 41);
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 70%;
    height: 25%;
    font-size: 40px;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
    border: 2px solid rgb(158, 105, 82)
  }
  
  /* The Close Button */
  .close {
    color: rgb(179, 97, 34);
    float: right;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Racing Sans One', cursive;
    
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.restart2:hover{
    cursor: pointer;
    background-color: rgb(111, 114, 112);
    color: white;
    border-color:rgb(111, 114, 112);

}

.restart2{
    font-size: 20px;
    font-family:'Racing Sans One', cursive;
    border-radius: 10px;
    background-color: rgb(179, 97, 34);
    color:white;
    padding: 5px 10px;
    border-color: rgb(179, 97, 34);
}


.credits{
    height: 20px;
    width: 300px;
    color: rgb(128, 125, 125);
    font-size: 10px;
    
}
@media (max-width: 500px) {

    .modal-content{
        height: 40%;
    }

    .C4header{
        background-image: url("images/C4header.png");
        background-repeat: no-repeat;
        justify-content: center;
        /* height: 76px;
        width: 640px; */
        margin: 30px auto;
        background-size: 70%;
    }

    h2 {
        text-align: center;
        font-size: 25px;
        font-family: 'Racing Sans One', cursive;
        width: 400px;
        margin: 30px auto 10px;
        color: rgb(225, 72, 125);
        background-color: rgb(0, 0, 0, 0.8)
    }

    .board{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 400px;
      height: 350px;
      margin: auto;
      margin-top: 10px;
      background: #2c3980ec;
      border: 1px solid rgba(37, 180, 216, 0.55);
      border-radius: 10px;
      }

      
      
      .cellprop {
          /* background: #073bad72; */
          display: flex;
          height: 52px;
          width: 52px;
          border-radius: 50%;
          margin: 2px 5px;
          justify-content: center;
          align-items: center;
          box-shadow:inset 0px 0px 0px 4px #3453979e;
        }
        .player1cell{
        background-image: linear-gradient(50deg,rgb(196, 86, 17), rgb(214, 119, 233));
          display: flex;
          height: 52px;
          width: 52px;
          border-radius: 50%;
          margin: 2px 5px;
          justify-content: center;
          align-items: center;
          box-shadow:inset 0px 0px 0px 4px #144abeb6;
      }
      
      .player2cell{
        background-image: linear-gradient(50deg,rgb(11, 105, 99), rgb(235, 245, 119));
          display: flex;
          height: 52px;
          width: 52px;
          border-radius: 50%;
          margin: 2px 5px;
          justify-content: center;
          align-items: center;
          box-shadow:inset 0px 0px 0px 4px #144abeb6;
      }
      
      .column {
      
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          height: 340px;
          width: 95px;
          padding: 5px;
          border-radius: 10px;
      }

      .firstpage{
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    .modal-header {
        padding: 2px 16px;
        color: #ffffff;
        font-size: 20px;
       
      }
    
      .fp-h2{
        color: rgb(245, 129, 41);
        font-size: 35px;
        width: 70%;
      }
      
      .fp-close {
          float:right;
      }
      /* Modal Body */
      .modal-body {
          padding: 2px 16px;
        color: rgb(245, 129, 41);
        font-size: 20px;
        margin-top: 10px;
    }
    
    .fp-content {
        background-color: black;
        margin: auto;
        padding: 10px;
        border: 1px solid #888;
        width: 70%;
        height: 60%;
        font-family: 'Racing Sans One', cursive;
        text-align: center;
        border: 2px solid rgb(245, 129, 41)
      }
    
    .letsgo{
        font-size: 15px;
        font-family:'Racing Sans One', cursive;
        border-radius: 10px;
        background-color: rgb(245, 203, 111);
        color:rgb(0, 0, 0);
        padding: 5px 10px;
    }


  }