
body{
    background: linear-gradient(90deg,rgb(199, 119, 233), rgb(119, 226, 245),rgb(245, 184, 119));
}
h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Racing Sans One', cursive;
    margin-top: 80px;
}

.board{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 550px;
height: 470px;
margin: auto;
margin-top: 50px;
background: #4a8add;
border: 1px solid black;
border-radius: 10px;
}



.column {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}



/* .cell {
    background: #1f3dc2;
    display: flex;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin: 0 10px;
} */

.button-center{
    text-align: center;
    position: relative;
    top: 50px;

}

.restart{
    font-size: 35px;
    font-family:'Racing Sans One', cursive;
    border-radius: 10px;
    background-color: rgba(10, 209, 116, 0.2);
}

.column:hover {
    background: linear-gradient(50deg,rgb(210, 97, 233), rgb(148, 245, 119));
} 




/* CSS GRID */
/* .board{
    background: black;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px;
    grid-template-areas:
    "header header header header header"
    "main main main main main";
    column-gap: 5px;
    justify-content: space-around;
    justify-items: center;
    width: 500px;
    height: 450px;  
    grid-auto-flow: column;

}    

.drop {
    grid-area: header;
    background: blue;
    height: 70px;
    width: 70px;
    grid-column: 1;
    grid-row: 1 / 5;
}

.column {
    background: chartreuse;
    height: 170px;
    width: 70px;
    grid-area: main;

} */


/* Create a dropcell */
/* .dropall {
    text-align: center;
}

.drop {
    display: inline-block;
    margin-top: 120px;
    margin-left: 2px;
    margin-right: 2px;
    height: 30px;
    width: 90px;
    background: white;
    border: 1px solid black;
} */